
table {
	width:100%;
	margin-bottom: 0.4pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-indent: 0;
}

table > tr {
    vertical-align: middle;

}
.border1 tr > td {
    text-align: center;
	border:0.5pt solid black;
    padding: 5px;


}
.border1 tr > th {
    font-weight: bold;
    padding: 5px;
	text-align: center;
	border:0.5pt solid black;
}

.title {
	border:none;
    font-size: 20pt;
    text-align: center;
    color: black;
}
